@import "./import.scss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

p {
  margin: 0;
  padding: 0;
}

.bgColor {
  background-color: $bgColor;
  color: $white;
}

// flex
.flex_between_center {
  @include flex(row, space-between, center, none, none);
}

.flex_between_start {
  @include flex(row, space-between, start, none, none);
}

.flex_start_center {
  @include flex(row, start, center, none, none);
}

.flex_start_start {
  @include flex(row, start, start, none, none);
}